<div class="page-signin">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                
                  <img class="img-responsive center-block" src="dist/images/avizo-logo.png">
                
            </section>
        </div>
    </div>

    <div class="main-body">
        <div class="container">
            <div class="form-container">              

                <br/>

                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                          <md-input-container md-no-float>
                            <md-icon md-svg-src="dist/img/icons/ic_person_24px.svg"></md-icon>
                            <input ng-model="user.name" name="email" type="text" placeholder="Adresse courriel">
                          </md-input-container>
                        </div>
                        <div class="form-group">
                          <md-input-container class="md-primary" md-no-float>
                            <md-icon md-svg-src="dist/img/icons/ic_lock_24px.svg"></md-icon>
                            <input ng-model="user.phone" name="password" type="password" placeholder="Mot de passe">
                          </md-input-container>
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="form-group">
                          <md-button class="btn-width-large btn-block btn-lg md-primary md-raised">Se connecter</md-button>
                        </div>
                    </fieldset>
                </form>

                <section>
                    <p class="text-center"><a href="signin.html#/pages/forgot">Mot de passe oublié?</a></p>
                    <p class="text-center text-muted text-small">Pas de compte? <br><a href="signin.html#/pages/signup">Envoyer un message à l'administrateur</a></p>
                </section>
                
            </div>
        </div>
    </div>

</div>

